body{
  margin: 0px;
  width: 100%;
  height: 100%;
  background-image: linear-gradient(to top, rgb(68, 10, 68), rgb(110, 14, 110), rgb(151, 46, 151), rgb(255, 94, 188));
  background-repeat: no-repeat;
  background-size: cover;
  background-color:  rgb(68, 10, 68);
  font-family: 'Teko', sans-serif;

}
/* SIDE NAVIGATION */
.sidenav { 
  border-top: 0px;
  height: 100vh; 
  width: 70px; 
  position: fixed; 
  z-index: 3; 
  top: 0; 
  left: 0;
  background-image: url(./images/sidebaranimation1.png);
  background-position: bottom ; 
  overflow-x: hidden; 
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  animation: twinkle 120s infinite ;
}
@keyframes twinkle{
  0%{
    background-position: bottom;
  }
  40%{
    background-position: 50%;
  }
  80%{
    background-position: top;
  }
  100%{
    background-position: bottom;
  }
}

.centersidenav{
  display: flex;
  flex-direction: column;
  margin: auto;
}

.placeholder{
  list-style-type: none;
  width: 60px;
  height: 60px;
  margin: auto;
  transition: ease-in-out 1s;
  background-size: cover;
  background-image: url(./images/github\ icon-vaporwavestyle1.png);
}
.placeholder:hover{
  box-shadow: 1px 1px 5px 5px rgba(193, 247, 247, 0.5);
  transition: ease-in-out 1s;
}
.placeholder2{
  list-style-type: none;
  width: 60px;
  height: 60px;
  margin: auto;
  transition: ease-in-out 1s;
  background-size: cover;
  background-image: url(./images/linkedin\ icon-vaporwavestyle.png);
}
.placeholder2:hover{
  box-shadow: 1px 1px 5px 5px rgba(193, 247, 247, 0.5);
  transition: ease-in-out 1s;
}
.placeholder3{
  list-style-type: none;
  width: 60px;
  height: 60px;
  margin: auto;
  transition: ease-in-out 1s;
  background-size: cover;
  background-image: url(./images/insta\ icon-vaporwavestyle.png);
}
.placeholder3:hover{
  box-shadow: 1px 1px 5px 5px rgba(193, 247, 247, 0.5);
  transition: ease-in-out 1s;
}
.placeholder4{
  list-style-type: none;
  width: 60px;
  height: 60px;
  margin: auto;
  transition: ease-in-out 1s;
  background-size: cover;
  background-image: url(./images/codepen\ icon-vaporwavestyle.png);
}
.placeholder4:hover{
  box-shadow: 1px 1px 5px 5px rgba(193, 247, 247, 0.5);
  transition: ease-in-out 1s;
}
.placeholder5{
  list-style-type: none;
  width: 60px;
  height: 60px;
  margin: auto;
  transition: ease-in-out 1s;
  background-size: cover;
  background-image: url(./images/etsy\ icon-vaporwavestyle.png);
}
.placeholder5:hover{
  box-shadow: 1px 1px 5px 5px rgba(193, 247, 247, 0.5);
  transition: ease-in-out 1s;
}
.placeholder1:hover{
  box-shadow: 1px 1px 5px 5px rgba(193, 247, 247, 0.5);
  transition: ease-in-out 1s;
}

.placeholderlast{
  list-style-type: none;
  width: 60px;
  height: 60px;
  margin: auto;
  margin-top: 60px;
  margin-bottom: 10px;
  background-size: cover;
  background-image: url(./images/thanksicon-vaporwavestyle.png);
}
.placeholderlast:hover{
  box-shadow: 1px 1px 5px 5px rgba(193, 247, 247, 0.5);
  transition: ease-in-out 1s;
}
#hamburger{
  transition: ease-in-out .5s;
  list-style-type: none;
  width: 60px;
  height: 60px;
  margin: auto;
  margin-top: 10px;
  margin-bottom: 60px;
  background-size: cover;
  background-image: url(./images/hamburger\ icon-vaporwavestyle.png);
}
#hamburger.active{
  background-image: url(./images/close\ icon-vaporwavestyle.png) ;
}
.iconbox{
  opacity: 0;
  transition: ease-in-out 1s;
  margin: 0px;
  height: 60px;
  width: 60px;
}
.iconbox:hover{
  opacity: 1;
  transition: ease-in-out 1s;
  stroke-dasharray: 60;
  animation: encompass 20s infinite linear;
}
@keyframes encompass {
  0% {
    stroke-dashoffset: 4800 ;
  }
  
  100% {
    stroke-dashoffset:1200 ;
  }
 
}

.menu{
  margin-top: 15px;
  margin-bottom: 15px;
  height: 60px;
  width: 60px;
} 
@keyframes shimmer{
  0%{stroke: rgb(182, 73, 149) ;
  }
  10%{
    stroke: rgb(46, 30, 71);
  }
  20%{stroke: rgb(182, 73, 149) ;
  }
  30%{
    stroke: rgb(46, 30, 71);
  }
  40%{stroke: rgb(182, 73, 149) ;
  }
  50%{
    stroke: rgb(46, 30, 71);
  }
  60%{stroke: rgb(182, 73, 149) ;
  }
  70%{
    stroke: rgb(46, 30, 71);
  }
  80%{stroke: rgb(182, 73, 149) ;
  }
  90%{stroke: rgb(46, 30, 71) ;
  }
  100%{stroke: rgb(182, 73, 149)
  }
}
/* PULLOUT LINKS */
.toplinks{
  background-color: rgba(138, 43, 226,.5);
  padding: 17.5px 25px;
  border: solid rgba(255, 255, 255, .25)  2px;
  transition: all 0.5s;
  display: flex;
  margin: 0px 5px;
  z-index: 3;
}
.toplinks:hover{
  background-color: violet;
  transform: translateY(7.5px) scale(1.2) ;
  border: solid rgba(255, 255, 255, 1)  2px;
 
}
#topnav{
  
  display: none;
  padding: 20px;
  padding-top:10px;
}

#topnav.show{
 overflow: hidden;
 display: flex; 
 width: 80%;
 top: 0; 
 justify-content: space-around;
 color: aliceblue;
 z-index: 3;
 position: fixed;
 
 margin-left: 70px;
 width:80%;
}
#linkbuttons{
  display: flex;
  justify-content: center;
  width: 60px;
  text-align: center;
}
a:active, a:link, a:visited, a:hover{
  display: flex;
  color: aliceblue;
  justify-content: center;
  width: 60px;
  text-align: center;
  text-decoration: none;
}
/* MAIN BODY */
.maincontainer{
  width:100%;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
 
}
.centercontainer{
  margin-left: 70px;
  margin-top: 70px;
  width:80%;
  height: auto;
  border: solid 3px rgba(221, 255, 255, .75);
  box-shadow: 1px 1px 5px 5px rgba(34, 248, 248, 0.5);
  display: grid;
  grid-template-rows: 1fr;
  grid-template-columns: 50% 50%  ;
  text-align: center;
  font-size: 60px;
  color: rgb(223, 87, 189);
  font-family: 'Permanent Marker', cursive;
  text-shadow: 0px 0px 4px rgb(79, 202, 202), 0px 0px 4px white;
}
#austinb{
  grid-column-start: 1;
  grid-column-end: 3;
  box-shadow: 1px 1px 5px 5px rgba(34, 248, 248, 0.5);
  margin: auto;
  margin-top: 5%;
}
.myport{
  margin-top: 130px;
  grid-column-start: 1;
  grid-column-end: 3;
}
.myportb{
  margin-top: 50px;
  margin-bottom: 130px ;
  font-size: 25px;
  grid-column-start: 1;
  grid-column-end: 3;
}
#elixirlogo{
  width: 30%;
  grid-column: 1;
  border-radius: 800px;
  grid-column-start: 1;
  grid-column-end: 3;
  margin: auto;
  margin-top: 20px;
  margin-bottom: 20px;
}
#hublass{
  width: 100%;
}
#dogo{
  width: 100%;
}
#heaven{
  width: 100%;
}
#baldie{
  width: 100%;
}
#jake{
  width: 50%;
  grid-column-start: 1;
  grid-column-end: 3;
  margin: auto;
}
.developmentcontainer{
  grid-column-start: 1;
  grid-column-end: 3;
  display: grid;
  grid-template-rows: 1fr;
  grid-template-columns: 50% 50%  ;
  font-size: 20px;
}
.developmentcontainer a{
  width: 100%;
  height: auto;
}
#mountian{
  position: sticky;
  bottom: 0px;
  width: 100%;
  z-index: 0;
 
}

/*HEIGHT QUERYS*/
@media (max-height: 575px){
  #hamburger{
    margin-bottom: 0px;
  }
  .placeholderlast{
    margin-top: 0px;
}
}
@media (max-height: 455px){
  #hamburger{
    margin-bottom: 0px;
  }
  .placeholderlast{
    margin-top: 0px;
  }
.placeholder{
  display: none;
}
}
/*WIDTH QUERIES*/
@media (max-width: 692px){
  .maincontainer p{
    font-size: 30px;
    
  }
  .maincontainer{
    margin-top: 10px;
  }
  .centercontainer{
      margin: 0px;
  }
  .contentcontainer{
    font-size: 30px;
    margin: 0px 0px;
  }
  .sidenav { 
    height: 70px ; 
    width: 100%; 
    flex-direction: row;
  
  }
  .centersidenav{
    flex-direction: row;
    align-content: center;
  }
  #hamburger{
    margin: auto;
    margin-top: 5px;
  }
  .placeholderlast{
    list-style-type: none;
    width: 60px;
    height: 60px;
    margin: auto;
    margin-top: 5px;
    background-size: cover;
  }
  #topnav.show{
    height: 60%;
    width: 50px;
    padding: 0px;
    padding-right: 80px;
    padding-bottom: 20px;
    overflow: hidden;
    top: 65px; 
    color: aliceblue;
    z-index: 3;
    position: fixed;
    margin-left: 0px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
     }
    
     #linkbuttons{
       display: flex;
       flex-direction: column;
       height: 50px;
       width: 50px;
       margin-top: 10px;
     }
     .centercontainer{
       grid-template-columns: 100%;
     }
     .myportb{
       margin-bottom: 20px;
     }
     #jake{
      width: 100%;
      grid-column-start: 1;
      grid-column-end: 1;
      margin: auto;
     }
     #elixirlogo{
       margin-top: 10px ;
       margin-bottom: 10px ;
       
     }
}

